@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Regular.ttf) format('ttf');
}

.header{
    width: 80%;
    margin: auto;
}

.search{
    height: 42px;
    border-radius: 4px;
    border: 1px solid rgba(34, 34, 34, 0.2);
}

.title{ 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 22px;
    width: fit-content;
}

.menu{
    width: 20%;
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.menu__element{
    white-space: nowrap;
    margin-right: 10px;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.personal{
    display: flex;
    height: fit-content;
    width: 25%;
    justify-content: space-between;
}

.sort {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}




.cardsList{
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    min-width: 300px;
    border-radius: 4px;
    border: 1px solid rgba(34, 34, 34, 0.2);
    position: relative;
    height: 400px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:not(:nth-child(4n)){
    margin-right: 30px;
}

.card__image{
    margin-top: 50px;
}
.card__off{
    position: absolute;
    margin-left: 11px;
    margin-top: 10px;
    background: #E6E6E6;
    border-radius: 4px;
    width: 70px;
    text-align: center;
}

.card__like{
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-top: 10px;

}


.footer{
    width: 80%;
    border-top: 1px solid;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer__form{
    width: 50%;
    margin-top: 50px;
}