*{
    font-family: Montserrat, serif;
}

.sort {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.sort__filter{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
}

.sort__categories{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
}

.main{
    margin-top: 220px;
}


.cardsList{
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    padding-bottom: 75px;
}

.card{
    min-width: 300px;
    border-radius: 4px;
    position: relative;
    height: 400px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Montserrat, Serif;
}

.card:not(:nth-child(4n)){
    margin-right: 30px;
}

.card__image{
    margin-top: 50px;
    width: 300px;
    height: 400px;
    overflow: hidden;
}

.card__extras{
    display: flex;
    position: absolute;
    left: 0;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.card__extras__off{
    margin-left: 11px;
    background: #E6E6E6;
    border-radius: 4px;
    width: fit-content;
    text-align: center;
    margin-right: 5px;
    padding: 3px;
    color: red;
    font-size: smaller;
}

.card__extras__return{
    width: fit-content;
    height: 19px;
    margin-right: 5px;
    margin-bottom: 1px;
}

.card__extras__shipping{
    width: fit-content;
    height: 25px;
}

.card__like{
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-top: 10px;
    background-image: url("../../images/favourites_unfilled.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 23px;
    height: 27px;
    background-color: white;
    cursor: pointer;
    outline: none;
}

.card__tag{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #727272;
    margin-top: 12px;
    margin-bottom: 0;
}

.card__brand{
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
}

.card__title{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    margin: 0;
}

.card__price{
    margin-bottom: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}

.swap{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.swap__to{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
}

.swap__nums{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
}

.recommend{
    width: 80%;
    margin: auto;
    border-top: 1px solid #000000;
}

.recommend__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.recommend__list{
    display: flex;
    overflow: hidden;
}

