.input {
    position: relative;
}
.search {
    width: 200px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    outline: none;
    padding: 5px 25px 5px 5px;
}

.icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}