.dropdown {
    width: 220px;
    user-select: none;
    color: #222222;
    background: transparent;
}
.dropdown_toggle {
    cursor: pointer;
    font-weight: 700;
}
.dropdown_toggle_text {
    margin: 5px;
}
.dropdown_toggle:hover {
    background: rgba(0, 0, 0, 0.05);
    transition: 0.3s;
}
.dropdown_items_block {
    background: white;
    width: 220px;
}
.dropdown_item {
    cursor: pointer;
    background: white;
    transition: 0.3s;
}
.dropdown_item:hover {
    background: rgba(0, 0, 0, 0.05);
}
.dropdown_text {
    margin: 5px 5px 5px 20px;
}
.input_group {
    display: flex;
}
.dropdown_input {
    background: white;
    width: 100px;
    margin-right: 10px;
    margin-left: 5px;
    outline: none;
    border: 1px solid #727272;
    border-radius: 5px;
    padding: 2px;
}
